<form #form="ngForm" (submit)="onSubmit(form)">
    
    <input type="hidden" readonly #idProduto="ngModel" [(ngModel)]="service.formData.idProduto" class="form-control" name="idProduto">
    
    
    <div class="row">
        <div class="form-group col-md-3">
            <label>SKU</label>
            <input type="text" #sku="ngModel" [(ngModel)]="service.formData.sku" class="form-control" required name="sku">
        </div>

        <div class="form-group col-md-6">
            <label>DESCRIÇÃO</label>
            <input type="text" #descricao="ngModel" [(ngModel)]="service.formData.descricao" class="form-control" required name="descricao">
        </div>
        <div class="form-group col-md-3">
            <label>SIGLA</label>
            <input type="text" #sigla="ngModel" [(ngModel)]="service.formData.sigla" class="form-control" required name="sigla">
        </div>
    </div>

    <div class="form-group">
        <label>Categoria</label>
        <select #idCategoria="ngModel" [(ngModel)]="service.formData.idCategoria" class="form-control" required name="idCategoria">
            <option *ngFor="let cat of servicecat.categorias" 
                [value]="cat.idCategoria" 
                [attr.selected]="service.formData.idCategoria==cat.idCategoria ? true : null">
                {{cat.descricao}}
            </option>
        </select>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label>MARCA</label>
            <input type="text" #marca="ngModel" [(ngModel)]="service.formData.marca" class="form-control" required name="marca">
        </div>
        <div class="form-group col-md-4">
            <label>MODELO</label>
            <input type="text" #modelo="ngModel" [(ngModel)]="service.formData.modelo" class="form-control" name="modelo">
        </div>
        <div class="form-group col-md-4">
            <label>Ativo</label>
            <input type="checkbox" #ativo="ngModel" [(ngModel)]="service.formData.ativo" class="form-control" name="ativo">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-info btn-block button">Save</button>
    </div>
</form>