/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}
div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
html, body, table { height: 100%; }
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;

    background: #599acf;
    background: -moz-linear-gradient(60deg, #fcfcf2 0%, #fff 100%);
    background: -webkit-linear-gradient(60deg, #fcfcf2 0%, #fff 100%);
    background: linear-gradient(60deg, #fcfcf2 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcf2', endColor='#fff')
}

td{
    padding: 5px !important;
}

button{
    cursor: pointer;
}

.btn{
    background: transparent;
}

.title{
    color: #000;
    font-size: 4em;
}

.button{
    color: #000;
    border-radius: 10px;
    font-size: 1em;
}