<table class="table table-striped ">
    <thead>
        <tr>
            <td>ID</td>
            <td>Descricao</td>
            <td>Categoria</td>
            <td>Sigla</td>
            <td>Ativo</td>
            <td>Sku</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of service.produtos">
            <td>{{p.idProduto}}</td>
            <td>{{p.descricao}}</td>
            <td>{{p.categoria.descricao}}</td>
            <td>{{p.sigla}}</td>
            <td>{{p.ativo}}</td>
            <td>{{p.sku}}</td>
            <td>{{p.marca}}</td>
            <td>{{p.modelo}}</td>
            <td><button (click)="Edit(p)" class="btn btn-sm btn-warning button">Edit</button></td>
            <td><button (click)="Delete(p)" class="btn btn-sm btn-danger button">Delete</button></td>
        </tr>
    </tbody>
</table>